@import "tailwindcss";

:root {
  --background: #070707;
  --foreground: #ffffff;
}

html,
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: "DM Sans", sans-serif;
  min-height: 100%;
}

